* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  overflow: hidden;
}
h1 {
  color: rgb(241, 227, 227);
  padding: 10px;
  margin: 15px, 0, 0;
}
p {
  color: rgb(180, 179, 179);
  padding: 10px;
}
.figure-container {
  fill: transparent;
  stroke: white;
  stroke-width: 5px;
  stroke-linecap: round;
}
.game-container {
  padding: 15px 20px;
  height: 300px;
  width: 250px;
  position: relative;
}
.incorrect-letters-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}

.incorrect-letters-container p {
  margin: 0 0 5px;
}

.incorrect-letters-container span {
  font-size: 24px;
}
.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}
.letter {
  border-bottom: 3px solid white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 25px;
  padding: 10px;
  color: white;
  font-size: 30px;
}
.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.popup {
  background-color: white;
  color: darkslategray;
  border-radius: 10px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
}
.popup button {
  background-color: darkslategray;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  margin: 10px;
  border-radius: 5px;
  font-size: 15px;
}
.popup button:active {
  transform: scale(0.95);
}
.notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -70px;
  transition: transform 0.5s ease-in-out;
}

.notification-container.show {
  transform: translateY(-70px);
}

.notification-container p {
  margin: 0;
}

.figure-part {
  display: none;
}
