* {
  box-sizing: border-box;
}
body {
  background-color: #cfcfcf !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100vh !important;
}
.container {
  margin-top: 25px;
  background-color: white;
  border-radius: 5px;
  max-width: 450px !important;
}
.form {
  padding: 25px;
}
.form > h2 {
  text-align: center;
  color: rgb(104, 101, 101);
  margin-bottom: 10px;
}

.btn {
  display: block !important;
  margin: 0px auto !important;
  width: 40% !important;
  border-radius: 5px !important;
  background-color: rgb(64, 152, 224) !important;
  padding: 10px !important;
  cursor: pointer !important;
  border: none !important;
  outline: none !important;
  color: white !important;
  font-size: 15px !important;
}
.btn:hover {
  background-color: gray !important;
  color: #efefef !important;
}
.form-group > small {
  visibility: hidden;
}
.form-group > input:focus {
  outline: 0px;
}
.form-group > small {
  color: rgb(218, 67, 67) !important;
}
.form-group.error > input {
  border-color: rgb(218, 10, 10) !important;
}
.form-group.success > input {
  border-color: rgb(35, 182, 35) !important;
}
.form-group.error > small {
  visibility: visible;
}
