body {
  background-color: #efefef;
}
nav {
  background-color: rgb(56, 123, 139) !important;
  color: white;
  height: 70px;
  width: 100% !important;
  align-items: center !important;
  text-align: center !important;
}
.nav-div {
  display: flex !important;
  justify-content: space-between !important;
  padding: 20px;
  align-items: center;
  text-align: center;
}
.nav-div > a {
  color: rgb(230, 218, 218);
  font-size: large;
  text-decoration: none;
}
.card {
  margin: 10px 0px;
  border-radius: 10px !important;
}
.card-img {
  height: 100px;
  object-fit: contain !important;
}
@media (max-width: 400px) {
  nav {
    padding: 0px;
    margin: 0px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
