* {
  box-sizing: border-box;
}

body {
  background-color: #b5d4eb;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  margin: 0;
  padding: 20px;
}
.container {
  max-width: 50%;
}

h1 {
  color: rgb(0, 97, 100);
}

p {
  text-align: center;
}

.btn > a {
  text-decoration: none;
}

.currency {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency select {
  padding: 10px 20px 10px 10px;
  border: 1px solid gray;
  font-size: 16px;
  background: transparent;
}

.currency input {
  border: 0;
  background: transparent;
  font-size: 24px;
  text-align: right;
}

.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate {
  color: darkgreen;
  font-size: 16px;
  padding: 0 10px;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}

.table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
  overflow: scroll;
}

th,
td {
  text-align: left;
  padding: 15px;
}
tr:nth-child(even) {
  background-color: #e7e5e5;
  color: white;
}
tr:nth-child(even):hover {
  background-color: black;
  color: white;
}
tr:nth-child(odd):hover {
  background-color: #3394d5;
  color: white;
}
